<!-- app/home/templates/endpoint_2.html -->
{% extends "flask_basics_master.html" %}

{% block title %}Home{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="intro-message">
                <h1>ENdPOINT 2</h1>
                <hr class="intro-divider">
                <h3>This is endpoint_2.html</h3>
            </div>
        </div>
        <div class="col-lg-12">
            <h3>This page has no jinja or flaskform elements</h3>
            <p>The page is at app/home/templates/endpoint_2.html</p>
        </div>
    </div>
</div>
{% endblock %}
